version: '3.8'
services:
  postgres:
    image: postgres:18-alpine
    container_name: postgres-orm
    environment:
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: medical
      POSTGRES_USER: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
